.listings {
    display: flex;
    flex-direction: column;
    align-items: center
}

#listing-container {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
}

/* #listing-container > p {
    display: flex;
    align-items: flex-end;
} */
