.listing-info {
    word-wrap: break-word;
}
.listing-info > p{
    word-wrap: break-word;
    /* color: brown; */
}

.listing-info img {
    max-width: 700px;
    border-radius: 15px;
}

/* .listings > *{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    max-width: fit-content;
    word-wrap: break-word;
} */
